.posts-container {
    background-color: rgb(226, 226, 226);
    border: 1px solid rgb(204, 203, 203); 
    padding: 30px; 
    border-radius: 5px; 
    margin-bottom: 10px;  
}

.posts-form-container {
    margin-bottom: 50px; 
}

.posts-input {
    padding: 8px; 
    border: 1px solid gray; 
    border-radius: 5px; 
    margin: 10px 0px; 
    width: 300px; 
    display: inline-block; 
    font-size: 16px; 
}

.posts-item-text {
    cursor: pointer; 
}

.posts-submit-button {
    padding: 8px 15px; 
    font-size: 16px; 
    color: white; 
    border: 1px solid rgb(100, 112, 165); 
    border-radius: 5px;
    background-color: rgb(91, 101, 143); 
    margin: 5px; 
    display: inline-block; 
}

.posts-delete-button {
    padding: 8px 15px; 
    font-size: 16px; 
    color: white; 
    border: 1px solid rgb(165, 100, 100); 
    border-radius: 5px;
    background-color: rgb(143, 91, 91); 
    margin: 10px; 
    float: right; 
    cursor: pointer; 
}

.posts-check-active-button {
    padding: 8px 15px; 
    font-size: 16px; 
    color: white; 
    border: 1px solid rgb(100, 106, 165); 
    border-radius: 5px;
    background-color: rgb(89, 94, 143); 
    margin: 10px; 
    float: right; 
    cursor: pointer; 
}

.posts-check-deactivated-button {
    padding: 8px 15px; 
    font-size: 16px; 
    color: white; 
    border: 1px solid rgb(133, 135, 156); 
    border-radius: 5px;
    background-color: rgb(133, 135, 156);  
    margin: 10px; 
    float: right; 
    cursor: pointer; 
}

.posts-checked {
    text-decoration: line-through; 
}