/* You can add global styles to this file, and also import other style files */


body {
    padding: 100px; 
}

h1, h2, h3, h4, h5, p {
    font-family: arial;
}

.center {
    text-align: center; 
    margin-left: auto; 
    margin-right: auto; 
}

.inline-block {
    display: inline-block; 
}